@font-face {
    font-family: "Inter";
    src: local("Inter"), url(material/Inter.ttf);
}

@media (max-width: 600px) {
    #introwrapper {
        flex-direction: column;
    }
}

body {
    font-family: "Inter";
}

nav {
    display: flex;
    padding: 17px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.437);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: rgba(255, 255, 255, 0.909);
}

nav div {
    display: flex;
    align-items: center;
}

#leftNav {
    width: 40%;
    justify-content: space-evenly;
}

#leftNav div {
    gap: 7px;
}

#navLogo svg {
    height: 30px;
    align-items: center;
}

#rightNav {
    width: 20%;
    justify-content: space-evenly;
    margin-left: auto;
}

.freeBarky {
    background-color: black;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    width: fit-content;
    box-shadow: black;
}

.freeBarky:hover {
    background-color: rgb(35, 34, 34);
}

.freeBarky a {
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.076);
}

#leftNav div,
#rightNav div {
    padding: 7px;
    border-radius: 10px;
}

h2 {
    font-size: 35px;
}

main {
    margin-top: 100px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#introwrapper {
    display: flex;
    margin-bottom: 100px;
}

#introwrapper div {
    width: 50%;
}

#introwrapper h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

#introwrapper p {
    font-size: 20px;
    color: gray;
}

#introwrapper img {
    width: 50%;
    height: 90%;
}

#introwrapper .freeBarky {
    width: fit-content;
}

#companies {
    width: 1000px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.437);
    border-top: 1px solid rgba(128, 128, 128, 0.437);

}

#companies div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

#companies img {
    flex: 1;
    max-width: 100px;
    object-fit: contain;
}

.tutorial {
    margin-top: 50px;
}

.tutorial h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

.tutorial p {
    font-size: 18px;
    color: gray;
}

.tutorial p,
.tutorial h2 {
    max-width: 45%;
}

.tutorial img {
    max-width: 1000px;
    margin-top: 30px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.076);
}

.quote {
    margin-bottom: 50px;
}

.quote p {
    font-size: 50px;
    font-weight: bold;
    color: gray;
    text-align: center;
    margin-bottom: 20px;
}

.quotee {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    gap: 10px;
}

.quotee img {
    height: 60px;
}

.quotee h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.quotee h5 {
    margin-top: 10px;
    color: gray;
    font-size: 14px;
}

.title {
    flex-direction: column;
}

#finalquote {
    padding-bottom: 70px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.437);
}

#freeplanwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.437);
    padding-bottom: 70px;
}

#freeplanintro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#freeplanintro h2 {
    margin-bottom: 5px;
}

#freeplanwrapper p {
    color: gray;
    width: 50%;
}

#checklist {
    background-color: rgba(211, 211, 211, 0.634);
    width: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 20px;
}

#checklist div {
    display: flex;
    font-size: 17px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.437);
    align-items: center;
    color: gray;
    padding: 15px 0 15px 0;
    justify-content: space-between;
}


#checklistStart p,
#checkliststart div {
    margin: 0;
}

#checklist img {
    width: 17px;
    display: flex;

}

body #checklist #rightListItem {
    text-align: end;
    color: black;
}

#checklist #checklistLast {
    border-bottom: none;
}

#bfetWrapper h2,
#bfetWrapper p {
    text-align: center;
}

#bfetWrapper p {
    color: gray;
}

#bfetWrapper h2 {
    margin-top: 70px;
    margin-bottom: 20px;
}

#bfetP {
    margin-bottom: 40px;
}

#bfet3 {
    display: flex;
}

#bfet3 div {
    text-align: center;
    padding: 15px;
    border-right: 1px solid rgba(128, 128, 128, 0.437);
    flex: 1;
}

#bfet3 h3 {
    margin-top: 0;
    font-size: 30px;
}

#bfet3 #bfetLast {
    border-right: none;
}

#bfet3 a {
    color: black;
}

#bfet3 a:hover {
    color: rgb(37, 122, 191);
}

#badgesTitle {
    text-align: center;
    margin-top: 70px;
}

#badgesWrapper {
    display: flex;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#badgesWrapper h3 {
    font-size: 25px;
}

#badgesWrapper a {
    color: black;
}

#badgesWrapper div {
    flex: 1;
    margin-bottom: 50px;
}

#badgesWrapper img {
    width: 500px;
}

#percentagesWrapper {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;

}

#percentagesWrapper div {
    border-right: 1px solid rgba(128, 128, 128, 0.437);
    padding: 0 30px 0 30px;
    margin-top: 0;
    margin-bottom: 0;
    color: gray;
    flex: 1;
    text-align: center;
}

#percentagesWrapper h1 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 10px;
}

#percentagesWrapper p {
    margin-top: 0px;
}

#percentagesWrapper #lastPercent {
    border-right: none;
}

#tryToday {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;

}

#tryToday h2 {
    margin-bottom: 10px;
}

#tryToday p {
    color: gray;
    margin: 0 0 20px 0;
}

footer {
    border-top: 1px solid rgba(128, 128, 128, 0.437);
    margin-left: 1vw;
    margin-right: 1vw;
}

#footerWrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    padding: 60px 0;
    display: flex;
    justify-content: space-evenly;
}

footer div {
    max-width: 25%;
}

#footerImg {
    display: flex;
    gap: 10px;
    max-width: 25px;
    margin: 25px 0 70px 0;
}

.copyright {
    color: black;
}

.footerBold {
    font-weight: bold;
    color: black;
}

footer div a {
    margin: 10px 0 15px 0;
    color: gray;
    text-decoration: none;
}

footer div a:hover {
    text-decoration: underline gray;
}