@font-face {
    font-family: "Inter";
    src: local("Inter"), url(material/Inter.ttf);
}

@media (max-width: 600px) {
    body nav {
        position: relative;
        width: 95%;
        box-sizing: border-box;
        border-bottom: none;
        margin-left: auto;
        margin-right: auto;
    }

    #leftNav,
    #rightNav,
    #navBarky {
        display: none;
    }

    nav #hamburger {
        display: inline;
        width: 30px;
        padding: 10px;
        margin-left: auto;
        padding: 10px 4px 10px 12px;
    }

    body main {
        margin-top: 50px;
    }

    #introwrapper {
        width: 580px;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    #introwrapper div {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #introwrapper img {
        width: 500px;
    }

    body #companies {
        width: 580px;
    }

    body #companies img {
        max-width: 100px;
    }

    #mobileCompanies {
        flex-direction: column;
    }

    #mobileCompanies div {
        flex: 1;
    }

    .tutorial {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    body .tutorial h2, body .tutorial p, body .tutorial img {
        width: 500px;
    }

    body .quote {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    body .quote p {
        font-size: 30px;
    }

    body #freeplanintro h2, body #freeplanintro p {
        width: 500px;
        text-align: center;
    }

    body #checklist {
        width: 500px;
    }

    #bfet3 {
        flex-direction: column;
    }

    body #bfet3 div {
        border-right: none;
    }

    body #badgesWrapper {
        flex-direction: column;
        width: 560px;
        margin-left: auto;
        margin-right: auto;
    }

    body #badgesWrapper h3, body #badgesWrapper div {
        margin-bottom: 10px;
    }

    body #percentagesWrapper {
        width: 580px;
        flex-direction: column;
        align-items: center;
    }

    body #percentagesWrapper div {
        margin-bottom: 30px;
    }

    body footer #footerWrapper {
        flex-direction: column;
        width: 580px;
        gap: 10px;
    }

    .mobileFooterDiv {
        display: flex;
        flex-direction: row;
        width: 500px;
    }

   body #footerImg {
    margin-bottom: 30px;
   }
    
}
body {
    font-family: "Inter";
}

nav {
    display: flex;
    padding: 17px;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: #ffffff
}

#hamburger {
    display: none;
    width: 25px;
}

nav div {
    display: flex;
    align-items: center;
}

#leftNav {
    width: 40%;
    justify-content: space-evenly;
}

#leftNav div {
    gap: 7px;
}

#navLogo svg {
    height: 30px;
    align-items: center;
}

#rightNav {
    width: 20%;
    justify-content: space-evenly;
    margin-left: auto;
}

.freeBarky {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    width: fit-content;
    box-shadow: 0px 0px 0px 0.1px rgba(0, 0, 0, 0.02);
}

.freeBarky:hover {
    background-color: #353535;
}

.freeBarky a {
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 0.1px rgba(0, 0, 0, 0.02);
}

#leftNav div,
#rightNav div, 
#hamburger {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#leftNav div:hover, #rightNav div:hover, #hamburger:hover {
    background-color: #f4f4f4;
}

h2 {
    font-size: 35px;
}

main {
    margin-top: 100px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#introwrapper {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
}

#introwrapper div {
    width: 450px;
}

#introwrapper h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

#introwrapper p {
    font-size: 20px;
    color: #7f7f7f;
}

#introwrapper img {
    width: 500px;
}

#introwrapper .freeBarky {
    width: fit-content;
}

#companies {
    width: 1000px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#companies div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#companies img {
    max-width: 100px;
    object-fit: contain;
    padding: 10px;
}

#tutorialWrapper {
    margin-top: 50px;
}

.tutorial {
    margin-top: 50px;
}

.tutorial h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

.tutorial p {
    font-size: 18px;
    color: #7f7f7f;;
}

.tutorial p,
.tutorial h2 {
    width: 450px;
}

.tutorial img {
    max-width: 1000px;
    margin-top: 30px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.076);
}

.quote {
    margin-bottom: 50px;
}

.quote p {
    font-size: 50px;
    font-weight: bold;
    color: #7f7f7f;;
    text-align: center;
    margin-bottom: 20px;
}

.quotee {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    gap: 10px;
}

.quotee img {
    height: 60px;
}

.quotee h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.quotee h5 {
    margin-top: 10px;
    color: #7f7f7f;
    font-size: 14px;
}

.title {
    flex-direction: column;
}

#finalquote {
    padding-bottom: 70px;
    border-bottom: 1px solid #e5e5e5;
}

#freeplanwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 70px;
}

#freeplanintro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#freeplanintro h2 {
    margin-bottom: 5px;
}

#freeplanintro p {
    text-align: center;
}

#freeplanwrapper p {
    color: #7f7f7f;;
    width: 600px;
}

#checklist {
    background-color: #f4f4f4;
    width: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 20px;
}

#checklist div {
    display: flex;
    font-size: 17px;
    border-bottom: 1px solid #e5e5e5;
    align-items: center;
    color: #7f7f7f;;
    padding: 15px 0 15px 0;
    justify-content: space-between;
}


#checklistStart p,
#checkliststart div {
    margin: 0;
}

#checklist img {
    width: 17px;
    display: flex;

}

body #checklist #rightListItem {
    text-align: end;
    color: #050505;
}

#checklist #checklistLast {
    border-bottom: none;
}

#bfetWrapper h2,
#bfetWrapper p {
    text-align: center;
}

#bfetWrapper p {
    color: #7f7f7f;;
}

#bfetWrapper h2 {
    margin-top: 70px;
    margin-bottom: 20px;
}

#bfetP {
    margin-bottom: 40px;
}

#bfet3 {
    display: flex;
}

#bfet3 div {
    text-align: center;
    padding: 15px;
    border-right: 1px solid #e5e5e5;
    flex: 1;
}

#bfet3 h3 {
    margin-top: 0;
    font-size: 30px;
}

#bfet3 #bfetLast {
    border-right: none;
}

#bfet3 a {
    color: #050505;
}

#bfet3 a:hover {
    color: #087fe7;
}

#badgesTitle {
    text-align: center;
    margin-top: 70px;
}

#badgesWrapper {
    display: flex;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#badgesWrapper h3 {
    font-size: 25px;
}

#badgesWrapper a {
    color: #050505;
}

#badgesWrapper div {
    flex: 1;
    margin-bottom: 50px;
}

#badgesWrapper img {
    width: 500px;
}

#percentagesWrapper {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;

}

#percentagesWrapper div {
    border-right: 1px solid #f6f5f4;
    padding: 0 30px 0 30px;
    margin-top: 0;
    margin-bottom: 0;
    color: #7f7f7f;;
    flex: 1;
    text-align: center;
}

#percentagesWrapper h1 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 10px;
}

#percentagesWrapper p {
    margin-top: 0px;
}

#percentagesWrapper #lastPercent {
    border-right: none;
}

#tryToday {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;

}

#tryToday h2 {
    margin-bottom: 10px;
}

#tryToday p {
    color: #7f7f7f;;
    margin: 0 0 20px 0;
}

footer {
    border-top: 1px solid #f6f5f4;
    margin-left: 1vw;
    margin-right: 1vw;
}

#footerWrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    padding: 60px 0;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}

.mobileFooterDiv {
    display: flex;
    gap: 90px;
}

footer div {
    width: 320px;
}

#footerImg {
    display: flex;
    gap: 10px;
    max-width: 25px;
    margin: 25px 0 70px 0;
}

.copyright {
    color: #050505;
}

.footerBold {
    font-weight: bold;
    color: #050505;
}

footer div a {
    margin: 10px 0 15px 0;
    color: #7f7f7f;;
    text-decoration: none;
    display: block;
}

footer div a:hover {
    text-decoration: underline #7f7f7f;;
}